* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

img {
  width: 100%;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-half {
  width: 50%;
}

.column-full {
  width: 100%;
}

.column-third {
  width: calc(100% / 3);
}

.column-two-thirds {
  width: calc(200% / 3);
}

.column-fourth {
  width: 25%;
}

.character {
  width: 100%;
}
